body{
font-family: Arial, sans-serif;
margin:0;
color:  #333;
}

.container{
margin: 0 auto;
max-width:1100px;
width:90%;
}

.inner-hero{
background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../images/inner-hero.jpg");
background-position:center;
background-size:cover;
color:white;
padding-top:80px;
padding-bottom:80px; 
text-align:center;
}
.inner-hero-caption{
	font-size:45px;
	}
.inner-hero-details{
	font-size:20px;
	}

.page-layout {
  display: flex;
  align-items: flex-start;
  align-items: flex-stretch;
}


.page-layout{
display:flex;
gap:10px;
margin: auto;
color:black;
}

.main-content{
flex:3;
background:white;
}

.main-content h3{
margin-top:30px;
font-size:30px;
color: var(--cybilance-blue);
}


.custom-list-heading {
color:var(--deepblue-heading);
}
.custom-list {
  list-style: none;   /* remove default bullets */
  padding-left: 0;
  padding-bottom:30px;
}

.custom-list li {
  position: relative;
  padding-left: 25px;
  padding-bottom: 20px;
}

.custom-list li::before {
  content: "✔";   /* your icon here */
  position: absolute;
  left: 0;
  color:var(--cybilance-blue);
}

.knowmore {
font-size:10px;
font-style: italic;
background: #d7d7d7;
display: inline-block;
margin: 6px;
padding-left:6px;
padding-top: 2px;
padding-bottom:2px;
padding-top:2px;
}

.sidebar{
flex: 1;
background:var(--box-background);
margin-top:30px;
padding-top: 100px;
padding-bottom:100px;
padding-left:0px
padding-right:0px;
border-radius:5px;
color:black;
margin:auto;
}

.sidebar h4{
text-align:center;
}

.sidebar li{
text-align:left;
font-size:15px;
}

.site-footer{
background:#0b1c2c;
color:white;
text-align:center;
padding:20px;
margin-top:50px;
}




