<!-- ABOUT COMPONENT -->
<section class="about-section-container">
    <div class="about-section-layout">
        <div class="image-content">
            <!-- <img src="/images/server_farm.png" alt="server farm image"></img> -->
               <p>About CYBILANCE</p>         
        </div>
        <div class="text-content">
            <p>We are a cybersecurity consultancy led by a seasoned expert with over 15 years of international experience in protecting digital environments across diverse industries. Supported by a network of specialists in areas such as vulnerability assessment, penetration testing, cloud security, GRC, and incident response, we deliver comprehensive and tailored security solutions. Our approach combines global best practices with real-world expertise to help organizations strengthen their security posture, achieve compliance, and manage evolving cyber risks. We are committed to enabling resilient, secure growth by safeguarding critical assets and operations of our clients.
            </p>
        </div>
    </div>

<!--
<section class="about">
    <h2>About Cybilance</h2>
    <p>
        We provide independent cyber security advisory services
        helping organisations identify and mitigate cyber risks.
    </p>
</section>
-->