<header>
    <div class="logo"><a href="/index.html">Cybilance</a></div>
    <nav>
        <ul class="menu">
            <li><a href="/index.html">Home</a></li>
            <li class="dropdown"><a href="#">Services</a>
                <ul class="submenu">
                    <li><a href="services_inner_page.html">Assessment & Testing</a></li>
                    <li><a href="#">Governance, Risk, Compliance</a></li>
                    <li><a href="#">Operations & Incident Response</a></li>
                    <li><a href="#">Strategy & Architecture</a></li>
                </ul>
            </li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</header>
